{% load static %}
<script>
  window.ISMS_PORTAL_CONFIG = { apiBaseUrl: "{{ api_base_url }}", loginUrl: "{% url 'portal-login' %}" };
</script>
<script src="{% static 'js/shared.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/reports.js' %}"></script>
<script src="{% static 'js/controls.js' %}"></script>
<script src="{% static 'js/policies.js' %}"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="{% static 'js/risks.js' %}"></script>
<script src="{% static 'js/vendors.js' %}"></script>
<script src="{% static 'js/runtime.js' %}"></script>
